:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ededed;
  background-color: #0e1011;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
    padding: 0;
    margin: 0;
    user-select: none;
    cursor: default;
    overscroll-behavior: none;
}

body {
    font-family: 'Helvetica Neue', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, #main {
    height: 100%;
}
