@import "tailwindcss";
@source "../src/**/*.{rs,html,css}";
@source "../../components/src/**/*.{rs,css}";

@theme {
  --text-xs: 8px;
  --text-sm: 10px;
  --text-base: 12px;
  --text-lg: 14px;
  --text-xl: 16px;
  --text-2xl: 20px;
  --text-3xl: 28px;
  --text-4xl: 36px;
  --color-text-base: #e3e4e5;
  --color-bg-primary: #101011;
  --color-bg-secondary: #090909;
  --color-accent: #415A77;
  --color-info: #778DA9;
  --color-bg-light: #E0E1DD;
  --color-item-hover-bg: #343434;
}

html, body {
  @apply bg-bg-primary;
}

body {
  @apply text-text-base;
  @apply text-base;

  * {
    @apply border-[#202020];
  }
}

@layer components {
  /* put component styles here */
}
