@import "tailwindcss";
@source "../src/**/*.{rs,html,css}";
@source "../../components/src/**/*.{rs,css}";

@theme {
  --text-xs: 8px;
  --text-sm: 10px;
  --text-base: 12px;
  --text-lg: 14px;
  --text-xl: 16px;
  --text-2xl: 20px;
  --text-3xl: 28px;
  --text-4xl: 36px;
  --color-text-base: #e3e4e5;
  --color-bg-primary: #101011;
  --color-bg-secondary: #090909;
  --color-accent: #5e6ad2;
  --color-info: #778da9;
  --color-bg-light: #e0e1dd;
  --color-item-hover-bg: #1a1a1a;
  --color-text-secondary: #999999;
}

html,
body {
  @apply bg-white text-gray-900 text-base;
}