html, body {
    padding: 0;
    margin: 0;
    user-select: none;
    cursor: default;
}

body {
    font-family: 'Helvetica Neue', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, #main {
    height: 100%;
}
